node_modules/
www/
src-tauri/.tauri/
android/.gradle/
android/build/
android/app/build/
android/local.properties
ios/App/Pods/
ios/App/build/
ios/App/DerivedData/
*.jks
*.keystore
src-tauri/target/
src-tauri/gen/
android/
ios/